<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Asistente Virtual">
    <meta name="description" content="Sitio web para adquirir el asistente virtual: Guerrero Assist">
    <meta name="author" content="Paola Garcia">
    <meta name="author" content="Francisco Javier Barrera Romero">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerrero Assist</title>
    <link rel="shortcut icon" href="./static/images/icono_paginaassist.png" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/style_from.css" type="text/css">
     <link rel="stylesheet" href="./static/css/style_d.css" type="text/css">
     <link rel="stylesheet" href="./static/css/menu.css" type="text/css">
<body>
<from>
    <div class="header">
      <img src="./static/images/LOGO_PAGINA.svg">
  <h2>Nuestra comunidad</h2><h1>Guerrero Assist</h1>
  </div>

     <nav class="navegacion">

            <ul class="menu">
              <li class="first-item"> <a href="/grid_html" target="#"><img  src="./static/images/quienes_somos_icon.png" alt="" class="imagen">
                <span class="text-item">¿Quiénes somos?</span>
                <span class="down-item"></span> </a>
              <li> <a  target="contenedor" href="paginas/datos.html"> <img src="./static/images/que_hacemos_icon.png" alt="" class="imagen">
               <span class="text-item">¿Qué hacemos?</span>
               <span class="down-item"></span> </a>
              <li> <a target="contenedor" href="/sugerencias"> <img src="./static/images/discapacidad_icon.png" alt="" class="imagen">
            <span class="text-item">Sugerencias</span>
            <span class="down-item"></span></a>
              <li> <a target="contenedor" href="/" ><img src="./static/images/registro_icon.png" alt="" class="imagen">
                <span class="text-item">Volver al inicio</span>
                <span class="down-item"></span>
            </a>
            </ul>
    </nav>
 <div class="container">

              <div>

<section>
<div class="div_table" Width=100%>
            <table width=100%>
                 <thead>
                 <tr>
                     <td>Nombre</td>
                     <td>Descripción</td>
                     <td>Número</td>
                     <td>Correo</td>
                     <td>Opciones</td>
                 </tr>
                 </thead>

        <tbody>
        {% for date in date %}
        <tr>
            <td>{{date.1}}</td>
            <td>{{date.2}}</td>
            <td>{{date.3}}</td>
            <td>{{date.4}}</td>
            <td>
                <a href="/delete/{{date.0}}" class="botoon" align="right">Eliminar</a>
                <a href="/edit/{{date.0}}" class="botoon" align="right">Editar</a>
                <a href="{{url_for('registro_html')}}" class="botoon" align="right">Atras</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
                </table>
    </div>



</body>

</section>

<div>

</div>
<div></div>
<div></div>

  <p class="footer">&copy; Paola Gacia & Francisco Barrera | UTTT Campus Tepetitlán</p>
</body>
</html>