<!DOCTYPE html>
<html lang="es-MX">
<head>
   <meta charset="UTF-8">
    <meta name="keywords" content="Asistente Virtual">
    <meta name="description" content="Sitio web para adquirir el asistente virtual: Guerrero Assist">
    <meta name="author" content="Paola Garcia">
    <meta name="author" content="Francisco Javier Barrera Romero">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quienes somos?</title>
    <link rel="shortcut icon" href="./static/images/icono_paginaassist.png" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/style_quienes_somos.css" type="text/css">
    <link rel="stylesheet" href="./static/css/menu.css" type="text/css">


</head>
<body>
  <div class="header">
      <img src="./static/images/LOGO_PAGINA.svg">
  <h2>Somos un grupo denominado</h2><h1>PP</h1>
  </div>

      <nav class="navegacion">

            <ul class="menu">
              <li class="first-item"> <a href="/" target="#"><img  src="./static/images/quienes_somos_icon.png" alt="" class="imagen">
                <span class="text-item">Inicio</span>
                <span class="down-item"></span> </a>
               <span class="down-item"></span> </a>
              <li> <a target="contenedor" href="/sugerencias"> <img src="./static/images/discapacidad_icon.png" alt="" class="imagen">
            <span class="text-item">Sugerencias</span>
            <span class="down-item"></span></a>
              <li> <a target="contenedor" href="/registro" ><img src="./static/images/registro_icon.png" alt="" class="imagen">
                <span class="text-item">Registrate</span>
                <span class="down-item"></span>
            </a>
            </ul>

</nav>
 <section style="padding-top: 30px;"></section>
    <section class="name" style="background-color:#8ECBF8;">
        <a href="#image1" style="text-decoration:none; "><h1>Paola Garcia Chavez</h1></a>
    </section>
        <article class="xdd" id="image1">
     <div class="middle"> <img src="./static/images/pao.jpg">
         <a href="#"class="cer">X</a>
  </article>
  <section class="text">
        <p>Durante 3 años me he interesado por el mundo de la tecnología, específicamente el diseño y desarrollo de apps web o simplemente en la creación de diseños para la publicidad. Guerrero Assist para mí es un proyecto muy bello, ya que gracias a mis habilidades puedo darle esperanzas a aquellas personas que necesitan un empujon para conocer el mundo,
            tal vez de manera distinta, pero si pertenecer a él y lograr lo que todos queremos, un sueño.

            <br> - Paola Garcia Chavez</br>
</p>
      </section>
    </div>
  <section style="padding-top: 50px;"></section>
 <section class="name" style="background-color:#8ECBF8;">
        <a href="#image2" style="text-decoration:none"><h1>Francisco Javier Barrera Romero</h1></a>
    </section>
        <article class="xdd" id="image2">
     <div class="middle"> <img src="./static/images/Javier.jpg">
         <a href="#"class="cer">X</a>
  </article>
  <section class="text2">
    <p>
        Desde muy pequeño siempre me eh sentido atraído por el mundo de la tecnología, el aprender como funciona y cual es su desarrollo me ha parecido un mundo realmente increíble, gracias a las enseñanzas de profesores y fuentes externas podemos trabajar en conjunto para el desarrollo de una tecnología que puede hacer un gran impacto en la sociedad, el ayudar a personas que tienen problemas es una de las cosas que más hemos empatizado y nos gustaría ayudar a las personas.
 <br>- Francisco Barrera</br>

    </p> </div>

</section>


<section style="padding-top: 30px;"></section>
<section class="name" style="background-color:#8ECBF8;">
    <a href="#image3" style="text-decoration:none; "><h1>Evelyn Lizette Reyes Villeda</h1></a>
</section>
    <article class="xdd" id="image3">
 <div class="middle"> <img src="./static/images/eve.jpg">
     <a href="#"class="cer">X</a>
</article>
<section class="text">
    <p>Durante mucho tiempo me ha gustado e interesado el mundo tecnológico, al igual que ayudar a las personas, ahora puedo fusionar ambas y causar un impacto en la sociedad, es una gran oportunidad para generar esperanzas.

        <br> - Evelyn Lizette Reyes Villeda</br>
</p>
  </section>



   <section style="padding-top: 50px;"></section>
  <div class="footer">
  <p>&copy; Paola Gacia & Francisco Barrera | UTTT Campus Tepetitlán</p>
  </div>


</body>
</html>