<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Asistente Virtual">
    <meta name="description" content="Sitio web para adquirir el asistente virtual: Guerrero Assist">
    <meta name="author" content="Paola Garcia">
    <meta name="author" content="Francisco Javier Barrera Romero">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerrero Assist</title>
    <link rel="shortcut icon" href="./static/images/icono_paginaassist.png" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/style_index2.css" type="text/css">

     <link rel="stylesheet" href="./static/css/menu.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link href="./static/css/iconos.css" rel="stylesheet">
</head>
<body>

<header id ="encabezado">
<div class="guerrero con"></div>

    </header>
    <nav class="navegacion">

            <ul class="menu">
               <li> <a target="contenedor" href="#about"> <img src="./static/images/que_hacemos_icon.png" alt="" class="imagen">
            <span class="text-item">¿Qué es?</span>
            <span class="down-item"></span></a>
              <li class="first-item"> <a href="/grid_html" target="#"><img  src="./static/images/quienes_somos_icon.png" alt="" class="imagen">
                <span class="text-item">¿Quiénes somos?</span>
                <span class="down-item"></span> </a>


              <li> <a target="contenedor" href="/sugerencias"> <img src="./static/images/discapacidad_icon.png" alt="" class="imagen">
            <span class="text-item">Sugerencias</span>
            <span class="down-item"></span></a>
              <li> <a target="contenedor" href="/registro" ><img src="./static/images/registro_icon.png" alt="" class="imagen">
                <span class="text-item">Regístrate</span>
                <span class="down-item"></span>
            </a>
            </ul>

</nav>
<body id="page-top">

</nav>
  <!-- About -->
  <section class="content-section bg-light fondoo" id="about">
      <div class="left"> <h2 style="text-align:center">¿Qué es Guerrero Assist?</h2>
   <img src="./static/images/primer_bloque.png">
    <p class="h5"><br>Es un asistente de voz virtual que podrás utilizar desde tu computadora, con el objetivo de ayudar a los niños con discapacidad visual para disminuir drásticamente el número de riesgos, ya que se estima que hay un 67% de accidentes dentro del hogar, esto es muy preocupante ya que pueden existir graves lesiones para los menores. Guerrero Assist, a pesar de que está diseñada principalmente para niños con discapacidad visual algunos adultos la pueden ocupar tengan o no la discapacidad. Es importante, que usted como padre o madre de familia identifique los riesgos y se involucre en el desarrollo pleno de su hijo.</br>

<br>“La única discapacidad en la vida es una mala actitud”- Scott Hamilton</br>  </p> </div>
           <div> <audio controls autoplay muted >
  <source src="horse.ogg" type="audio/ogg">
  <source src="./static/audios/audio_1.mp3" type="audio/mpeg">

</audio>
               <div class="card-body text-center" style="align-items: center; justify-content: center;">
               <a class="btn btn-primary btn-xl js-scroll-trigger card-body text-center btn btn-light" href="#about2">¿A quién ayudamos?</a>
               </div>
           </div>
  </section>








   <!-- About -->
  <section class="content-section content-section2 bg-light fondoo" id="about2">
      <div class="left"> <h2 style="text-align:center">¿A quién ayudamos?</h2>
   <img src="./static/images/segundo_bloque.png">
    <p class="h5"><br>Principalmente, queremos ayudar a nuestros niños de México con discapacidad visual. Algunos de ellos nacen con esta deficiencia, mientras que otros la adquieren con el tiempo. A pesar de que es muy lógico el hecho de que los niños con discapacidad visual necesitan de la ayuda de personas adultas, pero es importante tomar en cuenta ayuda extra, como lo es Guerrero Assist.</br>

<br>ㅤ</br>  </p> </div>
           <div> <audio controls autoplay muted >
  <source src="horse.ogg" type="audio/ogg">
  <source src="./static/audios/audio_2.mp3" type="audio/mpeg">

</audio>
               <div class="card-body text-center" style="align-items: center; justify-content: center;">
               <a class="btn btn-primary btn-xl js-scroll-trigger card-body text-center btn btn-light" href="#about3">Funcionamiento</a>
               </div>
           </div>
  </section>


<section class="content-section content-section2 bg-light fondoo" id="about3">
      <div class="left"> <h2 style="text-align:center">Funcionamiento</h2>
   <img src="./static/images/tercer_bloque.png">
    <p class="h5"><br>Es muy sencillo y muy facil de usar así como también de aprender. Guerrero Assist se encontrara en tu computadora
             con la cual por medio de la cámara, detectara el objeto y te explicara que es lo que esta viendo, características
             y lo más importante sus riesgos, porque nuestro principal objetivo es que su hijo, amigo o conocido
             viva en un entorno pleno para su desarollo.</br>

<br>ㅤ</br>  </p> </div>
           <div> <audio controls autoplay muted >
  <source src="horse.ogg" type="audio/ogg">
  <source src="./static/audios/audio_3.mp3" type="audio/mpeg">

</audio>
               <div class="card-body text-center" style="align-items: center; justify-content: center;">
               <a class="btn btn-primary btn-xl js-scroll-trigger card-body text-center btn btn-light" href="#contacto">Contactanos</a>
               </div>
           </div>
  </section>





  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="contacto">
    <div class="container">
      <div class="content-section-heading">
        <h2>Contactanos</h2>
        <h3>Puedes contactarnos a través de</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img src="./static/images/Celular.png"href="https://wa.me/qr/DBAUN5UQX5UIB1" width="60" height="80"></i>
          </span>
          <h4>
              <strong>Número de teléfono</strong>
          </h4>
          <p class="text-faded mb-0">Paola Garcia</p>
            <p class="text-faded mb-0">+52 1 772 167 0112</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img src="./static/images/correo.png" width="60" height="80"></i></i>
          </span>
          <h4>
            <strong>Correo</strong>
          </h4>
          <p class="text-faded mb-0">Paola Garcia</p>
               <p class="text-faded mb-0">20300393@uttt.edu.mx</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img src="./static/images/Celular.png" width="60" height="80"></i></i>
          </span>
          <h4>
            <strong>Número de teléfono </strong>
          </h4>
          <p class="text-faded mb-0">Francisco Barrera<i class="fas fa-heart"></i></p>
            <p class="text-faded mb-0">+52 773 188 84 49<i class="fas fa-heart"></i></p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
           <img src="./static/images/Correo.png" width="60" height="80"></i></i>
          </span>
          <h4>
            <strong>Correo</strong>
          </h4>
          <p class="text-faded mb-0">Francisco Barrera</p>
            <p class="text-faded mb-0">20300442@uttt.edu.mx</p>
        </div>
      </div>
    </div>

  </section>
<div class="bg-primary">
 <a class="btn btn-primary"href="#top">Volver al inicio</a>
</div>



  <!-- Scroll to Top Button-->



    </div>
  <div class="footer">
  <p>&copy; Paola Gacia & Francisco Barrera | UTTT Campus Tepetitlán</p>
  </div>
</div>




</body>
</body>
</html>