<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="keywords" content="Asistente Virtual">
    <meta name="description" content="Sitio web para adquirir el asistente virtual: Guerrero Assist">
    <meta name="author" content="Paola Garcia">
    <meta name="author" content="Francisco Javier Barrera Romero">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerrero Assist</title>
    <link rel="shortcut icon" href="./static/images/icono_paginaassist.png" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/style_qh.css" type="text/css">
     <link rel="stylesheet" href="./static/css/menu.css" type="text/css">

</head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>¿Qué hacemos?</title>
  </head>
   <div class="header">
      <img src="./static/images/LOGO_PAGINA.svg">
  <h2>aaaaaaaaa</h2><h1>aaaaaa</h1>
  </div>
  <body>
<nav class="navegacion">

            <ul class="menu">
              <li class="first-item"> <a href="/grid_html" target="#"><img  src="./static/images/quienes_somos_icon.png" alt="" class="imagen">
                <span class="text-item">¿Quiénes somos?</span>
                <span class="down-item"></span> </a>
              <li> <a  target="contenedor" href="/quehacemos"> <img src="./static/images/que_hacemos_icon.png" alt="" class="imagen">
               <span class="text-item">¿Qué hacemos?</span>
               <span class="down-item"></span> </a>
              <li> <a target="contenedor" href="/sugerencias"> <img src="./static/images/discapacidad_icon.png" alt="" class="imagen">
            <span class="text-item">Sugerencias</span>
            <span class="down-item"></span></a>
              <li> <a target="contenedor" href="/registro" ><img src="./static/images/registro_icon.png" alt="" class="imagen">
                <span class="text-item">Registrate</span>
                <span class="down-item"></span>
            </a>
            </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </div>

<div></div>
  <div class="footer">
  <p>&copy; Paola Gacia & Francisco Barrera | UTTT Campus Tepetitlán</p>
  </div>
</div>
  </body>
</html>