<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Asistente Virtual">
    <meta name="description" content="Sitio web para adquirir el asistente virtual: Guerrero Assist">
    <meta name="author" content="Paola Garcia">
    <meta name="author" content="Francisco Javier Barrera Romero">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerrero Assist</title>
    <link rel="shortcut icon" href="./static/images/icono_paginaassist.png" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/styles_grid.css" type="text/css">

</head>